@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;600;700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@300;400;600;800&display=swap');
.light {
    --firstColor: #0e2431;
    --thirdColor: #777;
    --bg: #fefefe;
    --primary: #6a59d1;
    --modalBgColor: #fff;
    --cardBgColor: #fff;
    --bgTransparentColor: rgba(0, 0, 0, .1);
    --TransparentColor01: rgba(0, 0, 0, .1);
    --TransparentColor02: rgba(106, 89, 209, .1);
    --colorFilter: invert(1);
    --lineColor: rgba(0, 0, 0, .35);
    --boxShadow: 0px 0px 20px rgb(0 0 0 / 10%);
    --scrollBarColor: #c5cadf;
    --scrollBarThumb: #70768a;
}

.dark-theme {
    --white: #132347;
    --firstColor: #fff;
    --thirdColor: #a9afc3;
    --bg: #0e1b31;
    --primary: #6a59d1;
    --modalBgColor: #0e1b31;
    --cardBgColor: #102048;
    --bgTransparentColor: rgba(255, 255, 255, .1);
    --TransparentColor02: rgba(255, 255, 255, .1);
    --TransparentColor02: rgba(106, 89, 209, .1);
    --colorFilter: invert(0);
    --lineColor: #454f6b;
    --boxShadow: 0px 0px 20px rgb(0 0 0 / 10%);
    --scrollBarColor: #c1ceff;
    --scrollBarThumb: #282f4e;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
    background: var(--scrollBarColor);
}

::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: var(--scrollBarThumb);
}

body.light {
    width: 100%;
    background: var(--bg);
    font-weight: 400;
}

*:not(i) {
    font-family: 'Poppins', sans-serif;
}

h2,
h1,
h3 {
    font-family: 'Nunito', 'Poppins', sans-serif;
}

.title {
    /* margin: 1rem 0 0 3rem; */
    background: var(--primary);
    color: #fff;
    border-radius: 5px;
    margin: 1rem auto 1.4rem;
    text-align: center;
    display: block;
    width: fit-content;
    padding: 0 35px;
}

.container {
    width: 80.05%;
    max-width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.jbtn {
    justify-content: space-between;
}

.align {
    align-items: center;
}

.mh {
    min-height: 100vh;
}

.flex66 {
    flex: 0 0 66.66%;
    width: 66.66%;
}

.flex60 {
    flex: 0 0 60%;
    width: 60%;
}

.flex50 {
    flex: 0 0 50%;
    width: 50%;
}

.flex40 {
    flex: 0 0 40%;
    width: 40%;
}

.flex33 {
    flex: 0 0 33.33%;
    width: 33.33%;
}

.flex45 {
    flex: 0 0 45%;
    width: 45%;
}

.flex20 {
    flex: 0 0 20%;
    width: 20%;
}

.flex25 {
    flex: 0 0 25%;
    width: 25%;
}

.flex70 {
    flex: 0 0 70%;
    width: 70%;
}

.flex80 {
    flex: 0 0 80%;
    width: 80%;
}

.flex100 {
    flex: 0 0 100%;
    width: 100%;
}

header {
    position: absolute;
    z-index: 999;
    width: 100%;
    padding: .7rem .8rem;
    box-shadow: var(--boxShadow);
    transition: .5s ease;
}

header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background: #fff; */
    backdrop-filter: blur(10px);
    animation: transform3D .6s ease-in-out;
}

body.dark-theme header.fixed {
    background: var(--cardBgColor);
}

@keyframes transform3D {
    0% {
        transform: translate3d(0, -100%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

header .logo a {
    color: var(--firstColor);
    font-size: 1.7rem;
}

header ul.nav {
    position: relative;
}

header ul.nav li.nav-item {
    display: inline-block;
    margin-right: 1.6rem;
}

header ul.nav li.nav-item a.nav-link {
    color: var(--white);
    position: relative;
    z-index: 2;
    display: block;
    transition: .5s ease;
    font-family: 'Nunito', sans-serif;
}

header ul.nav li.nav-item a.nav-link.active {
    color: var(--primary);
}

header ul li a::before {
    position: absolute;
    top: calc(100% + 5px);
    width: 100%;
    height: 3px;
    left: 0;
    background: var(--firstColor);
    content: '';
    transform: scaleX(0);
    transition: .5s ease;
}

header ul li a:hover::before {
    transform: scaleX(1.1);
}

header ul.nav li#subLinks {
    position: relative;
}

header ul.nav li#subLinks ul.nav2 {
    /* background-color: #f00; */
    position: absolute;
    top: 100%;
    /* display: none; */
    left: -45%;
    box-shadow: var(--boxShadow);
    width: calc(100% + 120px);
    padding: 25px;
    background-color: var(--cardBgColor);
    height: fit-content;
    transition: .4s ease;
    transform-origin: top;
    transform: perspective(1000px) scaleY(0);
}

header ul.nav li#subLinks:hover ul.nav2 {
    transition: .5s ease;
    transform: perspective(1000px) scaleY(1);
}

ul.nav2 li {
    margin-bottom: .8rem;
}

.hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    cursor: pointer;
    transition: .5s ease;
}

.closeNav {
    display: none;
}

.hamburger .fa {
    transition: .5s ease;
    color: var(--firstColor);
    font-size: 1.5rem;
    cursor: pointer;
}

.home {
    min-height: 100%;
    position: relative;
    width: 100%;
    /* background-image: url('../Collage/IMG-20220213-WA0077.jpg'); */
    background-size: cover;
    background-position: center;
}

.home .effect1 {
    position: absolute;
    top: -24%;
    width: 300px;
    height: 300px;
    left: calc(50% - 50px);
    /* transform: translateX(-50%); */
    border: 20px solid var(--primary);
    border-radius: 50%;
    /* z-index: -1; */
    animation: moveX 10s linear infinite;
}

@keyframes moveX {
    0%,
    100% {
        transform: translateX(-60px);
    }
    50% {
        transform: translateX(60px);
    }
}

.home .homeLinks {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    margin-top: 10rem;
}

.home .homeLinks a {
    font-size: 18px;
    display: block !important;
    color: var(--primary);
    margin-bottom: 2rem;
    font-size: 22px;
}

.home .homeLinks a:nth-child(2) {
    /* margin-left: -2rem; */
}

.home-text {
    background-color: ;
    margin-top: 8rem;
}

.home-text h2 {
    font-size: 2.5rem;
    display: block;
    color: var(--firstColor);
    /* font-family: 'Satisfy', sans-serif !important; */
}

.home-text h2::first-letter {
    font-size: 4rem;
    color: var(--primary);
}

.home-text h3 {
    font-size: 1.3rem;
    margin: 1rem 0 0;
    color: var(--firstColor);
}

.home-text h3>span {
    color: var(--primary);
}

.home-text p {
    margin: 1.5rem 0 .25rem;
    font-size: 15px;
    color: var(--firstColor);
    width: 60%;
}

.btn {
    padding: 13px 50px;
    color: #fff;
    background: var(--primary);
    display: inline-block;
    margin-top: 25px;
    border-radius: 5px;
    transition: .5s ease;
    position: relative;
    z-index: 2;
}

.about .btn {
    margin-left: 1rem;
}

.btn:hover {
    color: #fff;
}

.btn::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: -1;
    background: #fff;
    clip-path: circle(30% at right 70%);
    transition: all .5s ease;
    opacity: 0;
    transform: scale(0);
}

.btn::after {
    z-index: -1;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    opacity: 0;
    transform: scale(0);
    background: var(--primary);
    clip-path: circle(30% at left 70%);
    transition: all .5s ease .2s;
}

.btn:hover::after,
.btn:hover::before {
    opacity: 1;
    border-radius: 2px;
    transform: scale(1);
    clip-path: circle(75%);
}

.home .row {
    /* justify-content: space-between; */
    position: relative;
}

.home-image {
    position: absolute;
    left: 55%;
    width: 320px;
    height: 320px;
    display: flex;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.playBtn {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    background: var(--gradient);
    font-size: 1rem;
    width: 50px;
    height: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.playBtn::before {
    width: 60px;
    height: 60px;
    position: absolute;
    content: '';
    border: 8px solid var(--primary);
    border-radius: 50%;
    animation: scale 1s linear infinite;
}

@keyframes scale {
    0%,
    100% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: .5;
        transform: scale(1.4);
    }
}

.home-image img {
    width: 100%;
    justify-content: flex-end;
    height: 100%;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    object-fit: cover;
    object-position: 0% 50%;
}

.videoContent {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: var(--TransparentColor01);
    backdrop-filter: blur(15px);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: .5s linear;
    visibility: hidden;
    transform: scale(0);
}

.open {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
}

.open .video {
    /* transform: scale(1); */
    animation: awesome 1s linear .5s forwards;
}

@keyframes awesome {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.video {
    position: relative;
    height: 0;
    /* overflow: hidden; */
    max-width: 100%;
    width: 80%;
    height: 600px;
    object-fit: cover;
    /* padding-bottom: 56.25%; */
    /* padding-top: 30px; */
    transform: scale(0);
    border-radius: 10px;
    border: 20px solid var(--thirdColor);
    border-right: 50px solid var(--primary);
}

video {
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-radius: 3px;
    border: 2rem solid var(--cardBgColor);
    padding-top: 0%;
    border-right: 2rem solid var(--primary);
}

.closeItem {
    position: absolute;
    right: -45px;
    top: 20px;
    z-index: 20;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cardBgColor);
    border-radius: 50%;
    cursor: zoom-out;
}

.closeItem i {
    font-size: 18px;
    color: var(--firstColor);
}

#player_controls {
    position: absolute;
    right: -80px;
    bottom: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

#player_controls i {
    font-size: 16px;
    width: 40px;
    height: 40px;
    background-color: #01a8b3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .7rem;
    color: var(--primary);
    cursor: pointer;
    background-color: #fff;
}

.scroll-down {
    display: flex;
    justify-content: center;
    /* background-color: #f00; */
    /* background-color: #000; */
    flex: 0 0 100%;
    padding: 1rem;
}

.scroll-down span {
    color: var(--firstColor);
    font-size: 17px;
    margin-top: -1rem;
    letter-spacing: 1.2px;
}

.scroll-down i {
    width: 30px;
    margin-left: 1rem;
    height: 30px;
    color: var(--firstColor);
    animation: scrollDown 2s linear infinite;
}

@keyframes scrollDown {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-45px);
    }
    60% {
        transform: translateY(-35px);
    }
}

section {
    padding: 3rem 0;
    /* background: var(--bg); */
}

.section-title02,
.section-title {
    width: 100%;
    margin: 0 0 1.5rem;
    text-align: center;
}

.section-title02 h2,
.section-title h2 {
    font-size: 2rem;
    color: var(--firstColor);
    margin-bottom: 1rem;
    position: relative;
    text-transform: uppercase;
}

.section-title02 h2::after,
.section-title h2::after {
    font-size: 4rem;
    content: attr(data-filter);
    display: block;
    top: -2rem;
    opacity: 0.1;
    letter-spacing: 5px;
    left: 50%;
    width: 100%;
    /* background: red; */
    transform: translateX(-50%);
    position: absolute;
    font-size: 58px;
    font-weight: 900;
    color: var(--firstColor);
}

.section-title02 h2::after {
    font-size: 40px;
    top: -1.5rem;
}

.section-title p {
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    color: var(--thirdColor);
    margin-bottom: .5rem;
}

.about .about-image {
    height: 41rem;
    z-index: 2;
    position: relative;
    border-radius: 8px;
    overflow: hidden !important;
}

.about-image {
    padding: 10px;
}

.about-text {
    padding: 15px 0 0 40px;
}

.about .about-image::before {
    position: absolute;
    left: 50%;
    top: 42% !important;
    transform: translate(-50%);
    width: 95%;
    height: 55%;
    content: '';
    overflow: hidden;
    background: var(--bg);
    /* border-radius: 30px; */
    /* border: 10px solid #EBBD29; */
    z-index: -1;
}

.about .about-image img {
    height: 100% !important;
    padding: 3%;
    display: block;
    width: 100%;
    border-radius: 8px;
    object-position: 0 22%;
    object-fit: cover;
    border: 10px solid var(--primary);
}

.about-text h2 {
    padding: 0 0 1rem;
    font-size: 3rem;
    color: var(--firstColor);
    font-weight: 700;
    font-family: 'Satisfy', sans-serif;
}

.about-text h3 {
    font-family: 'Nunito';
    color: var(--firstColor);
    font-size: 1.9rem;
    /* background: #000; */
    /* margin-bottom: 5/rem; */
    margin: 0 0 1rem;
}

.about-text h3>a {
    color: var(--primary);
    font-size: 1.2rem;
}

.about-text p {
    font-size: 17px;
    position: relative;
    z-index: 4;
    font-weight: 400;
    margin-top: 0rem;
    margin-bottom: 1rem;
    color: var(--thirdColor);
}

.about-item {
    padding: 5px;
}

.about-inner {
    border-radius: 15px 0px 15px 0px;
    padding: 5px;
    flex-direction: column;
    border-bottom: 2px solid var(--primary);
    background: var(--cardBgColor);
    color: var(--firstColor);
    box-shadow: var(--boxShadow);
    text-align: center;
    align-items: center;
}

.about-inner h1 {
    font-size: 2.4rem;
}

.about {
    position: relative;
    z-index: 4;
}

.aboutEffect {
    right: -20%;
    width: 400px;
    height: 400px;
    top: 20%;
    background: var(--primary);
    border-radius: 50%;
    position: absolute;
    opacity: 0.2;
    animation: moveY 10s linear infinite;
}

@keyframes moveY {
    0%,
    100% {
        transform: translateY(-60px);
    }
    50% {
        transform: translateY(60px);
    }
}

.eduItem {
    /* padding: 10px; */
}

.eduItem .skillEduInner {
    background: var(--cardBgColor);
    box-shadow: var(--boxShadow);
    padding: 8px 20px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid var(--primary);
}

.skillBox .skillEduInner {
    /* box-shadow: var(--boxShadow); */
    margin-bottom: .8rem;
}

.skillEduInner h3 {
    font-size: 14px;
    color: var(--firstColor);
    font-weight: 600;
}

.skillEduInner strong {
    font-weight: 400 !important;
    font-size: 15px;
    margin: .9rem 0 0;
    display: block;
    line-height: 28px;
    color: var(--firstColor);
}

.skillEduInner strong>p {
    font-weight: 400;
    display: inline-block;
}

.skillEduItem {
    padding: 8px;
}

.skillBox {
    padding: 5px;
}

.skill-item {
    width: 100%;
    background-color: #000;
}

.skills .skill-bar {
    margin: 0 .5rem;
    position: relative;
    flex: 0 0 50%;
    width: 50%;
    height: 12px;
    padding: 0 1rem;
    /* background-color: #fff; */
}

.skill-bar .skill-progress {
    /* width: 100%; */
    background: var(--primary);
    position: absolute;
    box-shadow: inset 0px 15px 40px rgba(255, 255, 255, .3);
    top: 0;
    height: 100%;
    /* overflow: hidden; */
}

.skill-name h2 {
    font-size: 14px;
    /* color: darkblue; */
}

.skill-percent {
    font-size: 16px;
}

.sname {
    width: 18%;
    /* background-color: #fff; */
    text-align: right;
    font-size: 18px;
}

.spercent {
    position: absolute;
    left: calc(100% + 35px);
    top: 50%;
    font-size: 17px;
    font-weight: 400;
    transform: translate(-50%, -50%);
}

.spercent,
.sname {
    color: var(--firstColor);
}

.expWItem {
    display: flex;
    padding: 8px;
}

.expWInner {
    padding: 1.5rem 2rem;
    background: var(--cardBgColor);
    border-radius: 5px;
    box-shadow: var(--boxShadow);
    border-bottom: 2px solid var(--primary);
}

.expWInner h2 {
    color: var(--firstColor);
    font-size: 1rem;
    margin-bottom: .5rem;
}

.expWInner small {
    font-style: oblique;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: .5rem;
    display: block;
    color: var(--firstColor);
}

.expWInner h5 {
    font-weight: 300;
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--lineColor);
    margin-bottom: 1rem;
    color: var(--firstColor);
}

.expWInner p {
    color: var(--thirdColor);
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}

.btn-secondary {
    padding: 2px 15px;
    background: var(--primary);
    font-size: 15px;
    color: #fff;
    border-radius: 3px;
    display: block;
    margin-bottom: .8rem;
    width: fit-content;
    text-align: left;
}

.service-item {
    padding: 10px;
}

.service-inner {
    background: var(--cardBgColor);
    padding: 1rem;
    border-radius: 8px 0 10px 0;
    box-shadow: var(--boxShadow);
    border-bottom: 2.5px solid var(--primary);
}

.service-inner .service-icon {
    width: 60px;
    height: 60px;
    background-color: var(--cardBgColor);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    margin-bottom: .25rem;
}

.service-inner .service-icon::before {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    border-radius: 50%;
    border: 5px solid var(--primary);
}

.service-inner:hover .service-icon::before {
    animation: scaleUp 1s linear infinite;
}

.service-inner .service-icon i {
    color: var(--firstColor);
    font-size: 1.3rem;
}

@keyframes scaleUp {
    0%,
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.1);
    }
}

.portfolioDetails,
.serviceDetails {
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--bgTransparentColor);
    backdrop-filter: blur(5px);
    z-index: 999;
    /* background-color: #fff; */
    top: 0;
    opacity: 0;
    visibility: hidden;
    left: 0;
    transition: .5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.serviceDetails.active {
    opacity: 1;
    visibility: visible;
}

.serviceText {
    max-width: 600px;
    background: var(--modalBgColor);
    box-shadow: var(--boxShadow);
    padding: 2.3rem;
    border-radius: 10px;
    position: relative;
    margin: 20px;
    transition: .5s ease;
    transform: translateY(-50px);
}

.serviceDetails.active .serviceText {
    transform: translateY(0px);
}

.service-inner .serviceText.active {
    transform: translate(-50%, -50%);
    border-radius: 5px;
    visibility: visible;
    opacity: 1;
    animation: animateFrom 1s linear forwards both;
}

.serviceText .closeServiceText {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 15px;
    color: var(--thirdColor);
    cursor: pointer;
}

.service-inner h2 {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: .5rem;
    color: var(--firstColor);
}

.service-inner h3 {
    font-size: 1rem;
    color: var(--firstColor);
    margin-bottom: .25rem;
}

.service-inner p {
    font-weight: 400;
    color: var(--thirdColor);
    line-height: 26px;
    margin-bottom: 1rem;
}

.service-inner .serviceText ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.service-inner .serviceText li {
    display: flex;
    align-items: center;
    margin-bottom: .25rem;
    color: var(--firstColor);
    font-weight: 400;
    font-size: 1rem;
}

.service-inner .serviceText li>i {
    margin-right: .5rem;
    background: var(--primary);
    color: #fff;
    font-size: 12px;
    border-radius: 50%;
    padding: .2rem;
}

.learnMore {
    color: var(--firstColor);
    font-size: 15px;
    margin-top: .75rem;
    display: flex;
    align-items: center;
}

.learnMore>i {
    opacity: 0;
    visibility: hidden;
    transition: .5s ease;
    margin-left: 0rem;
}

.service-inner:hover .learnMore>i {
    margin-left: 2rem;
    opacity: 1;
    visibility: visible;
}

.portfolio-item {
    padding: 10px;
}

.portfolio-item .portfolio-inner {
    padding: 1rem;
    box-shadow: var(--boxShadow);
    border-radius: 10px;
}

.portfolio-inner .portfolio-image {
    cursor: pointer;
    height: 15rem;
    overflow: hidden;
    position: relative;
}

.portfolio-inner .portfolio-image::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(106, 89, 209, .2);
    z-index: 222;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
}

.portfolio-inner:hover .portfolio-image::before {
    opacity: 1;
    visibility: visible;
}

.portfolio-inner:hover .portfolio-image img {
    transform: scale(1.2);
}

.portfolio-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .5s ease;
}

.portfolio-image .portfolio-text {
    position: absolute;
    top: 82%;
    padding: 10px 5px 1rem;
    left: 0;
    width: 100%;
    transition: .5s ease;
    transform: translateY(100%);
    background: var(--primary);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.portfolio-inner:hover .portfolio-image .portfolio-text {
    transform: translateY(0);
}

.portfolio-text h2 {
    color: #fff;
    font-size: 1.2rem;
}

.portfolio-text i {
    color: #fff;
    margin-right: 1rem;
    cursor: pointer;
}

.portfolioDetails.active {
    visibility: visible;
    opacity: 1;
}

.portfolioWrap {
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    padding: 2.5rem;
    border-radius: 10px;
    background: var(--modalBgColor);
    box-shadow: var(--boxShadow);
    transform: translateY(-50px);
    transition: .5s ease;
}

.portfolioDetails.active .portfolioWrap {
    transform: translateY(0px);
}

.portfolioWrap p {
    color: var(--thirdColor);
}

.closePortfolioDetails {
    position: absolute;
    top: 0;
    left: 0;
    padding: .2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: var(--firstColor);
    cursor: pointer;
}

.closePortfolioDetails h2 {
    margin-top: 10px;
    color: var(--firstColor);
}

.portfolioWrap .portfolioDetailsImage {
    margin: 1rem 0;
    height: 20rem;
}

.portfolioWrap .portfolioDetailsImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.portfolioWrap .portfolioDetailsImage:nth-child(1) img {
    object-position: 0 50%;
}

.interestitem {
    padding: 10px;
}

.interest-inner {
    background: var(--cardBgColor);
    padding: 1rem 1.5rem;
    box-shadow: var(--boxShadow);
    border-radius: 8px;
    /* border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; */
}

.interest-inner .interest-icon {
    width: 50px;
    height: 50px;
    color: var(--firstColor);
    line-height: 50px;
    margin: 0 auto;
    font-size: 28px;
    margin-bottom: 1rem;
}

.interest-inner h2 {
    text-align: center;
    color: var(--thirdColor);
    font-size: 18px;
}

.new .container {
    width: 70%;
}

.new .row {
    position: relative;
    width: 100%;
    background: var(--cardBgColor);
    box-shadow: var(--boxShadow);
    padding: 1rem 5rem;
    border-radius: 10px;
}

.new-text {
    text-transform: uppercase;
}

.new .new-text h3 {
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--firstColor);
}

.new-text h1 {
    font-size: 2.6rem;
    font-weight: 900;
    color: var(--firstColor);
}

.new-text h2 {
    color: var(--firstColor);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
}

.btnNew {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial {
    padding: 80px 0 80px;
}

.testi-item {
    padding: 15px;
}

.testi-inner {
    position: relative;
    padding: 1.2rem 1rem;
    box-shadow: var(--boxShadow);
    background: var(--cardBgColor);
    border-radius: 10px;
}

.testi-image {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    align-items: center;
}

.owl-carousel .owl-item img {
    width: 100px;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next {
    background: transparent !important;
    color: var(--firstColor) !important;
    width: 50px;
    box-shadow: inset var(--boxShadow);
    /* border: 2px solid --prim; */
    height: 50px;
    line-height: 47px;
    font-size: 1.5rem !important;
    border-radius: 50% !important;
    transition: 0.5s ease-in-out;
}

.owl-navigation span:hover {
    background: var(--primary) !important;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
    background: transparent !important;
    color: var(--primary) !important;
    outline: none !important;
    border: none !important;
}

button {
    outline: none !important;
}

.testi-image img {
    width: 100px;
    height: 100px;
    object-position: 0 0;
    object-fit: cover;
    border-radius: 50%;
}

.image-details {
    margin: 0 35px;
}

.testi-image h2 {
    font-size: 18px;
    color: var(--firstColor);
}

.testi-image h3 {
    color: var(--primary);
}

.testi-quotes {
    top: 35px;
    right: 10px;
    display: none;
    position: absolute;
}

.testi-quotes i {
    opacity: 0.7;
    font-size: 2.5rem;
    transform: rotate(180deg);
}

.testi-text p {
    font-weight: 400;
    font-size: 1rem;
    color: var(--firstColor);
    line-height: 26px;
    /* background-color: #000 !important; */
}

.testi-inner p {
    color: var(--thirdColor);
}


/* ======= Blog Section Style ========= */

.blog-item {
    margin-bottom: 1rem;
    padding: 15px 20px;
}

.blog-inner {
    background: var(--cardBgColor);
    box-shadow: var(--boxShadow);
    border-radius: 8px;
    height: 29rem;
    text-align: center;
}

.blog-info {
    /* background: red; */
    padding: .8rem 1rem;
    box-shadow: var(--boxShadow);
}

.blog-image {
    overflow: hidden;
    position: relative;
    height: 15rem;
}

.blog-image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    /* transition-delay: 0s; */
    border-radius: 8px;
}

.blog-inner:hover .blog-image img {
    transition: .5s ease;
    transform: scale(1.5);
}

.blog-overlay a {
    position: absolute;
    right: 10%;
    top: 20%;
    width: 30px;
    margin-bottom: .7rem;
    height: 30px;
    color: var(--firstColor);
    display: block;
    height: 100%;
}

.blog-image img {
    height: 100%;
    width: 100%;
}

.blog-date {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* margin: .5rem 0rem .9rem; */
    border-bottom: var(--lineColor);
    /* flex-wrap: wrap; */
}

.blog-links {
    margin: 2rem auto 1rem;
}

.blog-date a {
    margin-right: 2rem;
    font-size: 15px;
    color: var(--primary);
}

.blog-date h4 {
    color: var(--thirdColor);
    font-size: 15px;
}

.blog-links a {
    display: inline-block;
    margin-right: 1rem;
    color: var(--thirdColor);
    font-size: 22px;
    text-align: center;
    transition: .2s linear;
}

.blog-links a:hover {
    transform: translateY(-5px);
}

.blog-text p {
    width: 100%;
    margin: 0 auto;
    text-transform: capitalize;
    font-size: 15px;
    color: var(--thirdColor);
    font-weight: 500;
    margin-bottom: 1rem;
}

.blog-text .btn {
    margin: 1rem 0;
    display: block;
    margin: 1.5rem auto 0;
    width: fit-content;
    display: block;
    background: var(--primary);
    /* padding: .8rem .4rem; */
}

.blog-overlay {
    position: absolute;
    right: 0;
    border-radius: 2px;
    top: 0;
    width: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: var(--firstColor);
    /* filter: ; */
    transform-origin: bottom;
    opacity: 0.9;
    transition: all .5s ease;
}

.blog-inner:hover .blog-overlay {
    width: 20%;
    /* clip-path: circle( ); */
}

.links {
    position: absolute;
    right: 10px;
    top: 50%;
    z-index: 3;
    transform: translateY(-50%);
    /* transform: translate(-50%, -50%); */
}

.links a {
    width: 35px;
    height: 35px;
    margin-bottom: .5rem;
    text-align: center;
    line-height: 35px;
    display: block;
    background: var(--primary);
    transition: all .3s ease-in-out;
    transform: scale(0);
    transition-delay: 0s;
    color: white;
    transform-origin: left;
}

.blog-inner:hover .blog-image .links a {
    transform: scale(1);
    transition-delay: calc(var(--a) * 0.2s);
}

.blog-inner .links a {
    /* transform: translateX(50px); */
}

.blog-inner:hover .links a {
    /* transform: translateX(0); */
}

.blog {
    padding-bottom: 2rem;
}

.contact-item {
    flex: 0 0 100%;
}

.contact-item .contact-inner {
    background: var(--cardBgColor);
    padding: 1rem 1.5rem;
    box-shadow: var(--boxShadow);
    border-radius: 10px;
}

.contact-item .contact-icon img {
    width: 80px;
}

.contact-item .contact-icon h2 {
    color: var(--firstColor);
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 1rem;
}

.contact-item p {
    margin-bottom: .8em;
}

.contact-item p>b {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--firstColor);
    letter-spacing: 1.1px;
}

.contact-item p>a {
    font-size: 14px;
    letter-spacing: 1.1px;
    color: var(--thirdColor);
    /* margin-left: 1rem; */
    text-align: left;
}

.contact-form {
    flex: 0 0 100%;
    width: 100%;
    padding: 10px 0px 10px 30px;
}

.contact-form .form-inner {
    border-radius: 10px;
    padding: 2.2rem 1.8rem;
    background: var(--cardBgColor);
    box-shadow: var(--boxShadow);
}

.contact-form .form-inner .input-group {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    margin: 0 0 25px;
    width: 100%;
}

.contact-form .form-inner .input-group:nth-child(5) {
    margin-bottom: 0;
}

.contact-form .form-inner .input-group:nth-child(5) p {
    font-size: 14px;
    letter-spacing: 1.2px;
    color: var(--firstColor)
}

.contact-form .form-inner .input-group:nth-child(5) i {
    /* font-size: 18px; */
    display: none;
    border: none;
    color: var(--primary);
}

.contact-form .form-inner .input-group input,
.contact-form .form-inner .input-group textarea {
    width: 100%;
    border: none;
    background: transparent;
    height: 50px;
    border-radius: 5px;
    padding: 5px 15px;
    border: 1.5px solid var(--lineColor);
    font-size: 18px;
}

.contact-form .form-inner .input-group textarea {
    height: 120px;
    resize: none;
}

::placeholder {
    font-size: 17px;
    text-transform: capitalize;
    color: var(--thirdColor);
}

.button-box button {
    background-color: var(--primary);
    color: #fff;
    border-radius: 10px;
    border: none;
    padding: 8px 20px;
    margin: 0 auto;
    cursor: pointer;
}

.footer {
    /* padding: 2rem 0; */
    position: absolute;
    width: 100%;
    left: 0;
    /* background-color: var(--primary); */
}

.footer-item {
    padding: 15px;
    flex: 0 0 100%;
    width: 100%;
}

.footer-inner {
    /* background-color: var(--cardBgColor); */
    border-radius: 5px;
    box-shadow: var(--boxShadow);
    padding: 2rem;
}

.footer-inner a {
    color: var(--firstColor);
}

.footer-inner h2 {
    color: var(--thirdColor);
    font-size: 17px;
    font-weight: 500;
    font-family: 'Poppins', 'Nunito', sans-serif;
}

.footer-inner .socialLinks a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: var(--cardBgColor);
    color: var(--firstColor);
    box-shadow: var(--boxShadow);
    border-radius: 50%;
    /* border-radius: 3px; */
    margin: 0 .3rem;
}

.scrollTop {
    position: fixed;
    right: 12px;
    bottom: 40px;
    cursor: pointer;
    opacity: 0;
    transform: translateY(100px);
    transition: all .5s ease;
}

.scrollTop.wows {
    opacity: 1;
    transform: translateY(0);
}

.ab {
    color: var(--thirdColor);
}

.scrollTop a {
    color: var(--primary);
    width: 45px;
    display: block;
    height: 45px;
    line-height: 45px;
    border-radius: 2px;
    background: var(--firstColor);
    text-align: center;
    font-size: 20px;
    z-index: 2;
    position: relative;
}

.scrollTop a::before {
    position: absolute;
    left: 0;
    /* display: block; */
    bottom: 0;
    width: 100%;
    height: 0;
    background: var(--primary);
    transition: .5s ease;
    content: '';
    z-index: -1;
}

.scrollTop a:hover {
    color: #fff;
}

.scrollTop a:hover::before {
    height: 100%;
}

.theme-btn {
    position: fixed;
    z-index: 99999999;
    width: 50px;
    height: 50px;
    background: var(--TransparentColor01);
    right: 0;
    top: 80px;
    color: var(--firstColor);
    box-shadow: var(--boxShadow);
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* backdrop-filter: blur(20px); */
    font-size: 1.2rem;
    cursor: pointer;
}

.fa-sun,
.theme-btn.sun .fa-moon {
    display: none;
}

.theme-btn.sun .fa-sun {
    display: block;
}

@media (max-width:1070px) {
    .navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: var(--TransparentColor01);
        backdrop-filter: blur(15px);
        height: 100vh;
        opacity: 0;
        transition: .3s ease;
        visibility: hidden;
    }
    .navigation.active {
        visibility: visible;
        opacity: 1;
    }
    ul.nav {
        position: absolute;
        left: 0;
        width: 65%;
        top: 0;
        background: var(--cardBgColor);
        transition: .4s ease;
        border-radius: 10px 0 0 10px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: var(--boxShadow);
        transform: translateX(-100%);
    }
    .navigation.active ul.nav {
        transform: translateX(0%);
    }
    ul.nav li {
        display: block;
        margin: 15px 50px;
    }
    .closeNav {
        display: block;
        position: absolute;
        right: 10px;
        top: 20px;
        font-size: 17px;
        color: var(--firstColor);
        cursor: pointer;
    }
    .hamburger {
        display: block;
    }
}

@media (max-width:900px) {
    /* .home-image {
        left: 55%;
        top: 15%;
    } */
    .skillBox,
    .flex40,
    .flex50:not(.home .flex50) {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
    }
    .about .flex60,
    .about .flex40,
    .contact .flex40,
    .contact .flex60,
    .flex33,
    .flex25 {
        flex: 0 0 50%;
        width: 50%;
    }
    .education.flex25,
    .awards.flex25 {
        flex: 0 0 50%;
    }
    .skillBox {
        /* background-color: #f00; */
        order: 3;
        width: 100%;
    }
    strong {
        font-weight: 600;
    }
    .about-text,
    .about-image,
    .contact-form,
    .contact-item {
        padding: 10px !important;
    }
}

@media (max-width:767px) {
    .video {
        max-width: 80%;
        width: 80%;
        height: 60%;
    }
    video {
        border: 0rem solid var(--cardBgColor);
    }
    #player_controls {
        bottom: -10px;
        left: -50%;
        flex-direction: row;
    }
    #player_controls i {
        font-size: 15px;
        /* background-color: #01a8b3; */
        margin-bottom: .7rem;
        color: #fff;
        cursor: pointer;
        background-color: transparent;
    }
    #change_vol {
        position: absolute;
        bottom: -15px;
        left: 50%;
        /* background-color: #f00; */
        cursor: pointer;
        transform: translateX(-50%);
    }
    .home .btn {
        margin-bottom: 2rem;
        ;
    }
    .skillEduInner strong>p {
        display: block;
    }
    .contact .flex40,
    .contact .flex60,
    .flex40,
    .flex60,
    .flex50,
    .new-text,
    .nBtn {
        width: 100%;
        flex: 0 0 100%;
    }
    .new-text {
        /* background-color: #000; */
        flex: 0 0 100%;
        width: 100%;
    }
    .contact-item {
        width: 50%;
        padding: 10px;
        flex: 0 0 50%;
    }
    .contact-inner h2 {
        display: block;
    }
    .contact-inner p>b {
        display: block;
        margin-bottom: .2rem;
        font-weight: 800;
        font-size: .8rem;
    }
    .home-image {
        width: 350px;
        height: 350px;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
    }
    .home-text {
        margin-top: 5rem;
        text-align: center;
    }
    .home-text h3 {
        margin: 0;
    }
    .home-text p {
        width: 100%;
        margin: 0;
    }
    .about-image.flex40,
    .about-text.flex60 {
        flex: 0 0 100%;
    }
    .blog-info {
        padding: .4rem .8rem;
    }
    .blog-text .btn {
        font-size: .9rem;
    }
    .blog-inner {
        margin-bottom: 1.5rem;
    }
}

@media (max-width:587px) {
    .none {
        display: none;
    }
    .portfolio-inner {
        padding: .8rem;
        border-radius: 8px;
    }
    .section-title h2 {
        font-size: 1.7rem;
    }
    .section-title02 h2::after,
    .section-title h2::after {
        top: -.85rem;
        font-size: 2rem !important;
    }
    .container {
        max-width: 85%;
    }
    .container {
        width: 95%;
    }
    .portfolioDetails .portfolioWrap,
    .serviceDetails .serviceText {
        width: 80%;
        max-width: 80%;
        margin: 0 auto;
        padding: 1.5rem;
    }
    .contact-item,
    .flex25,
    .flex33,
    .education.flex25,
    .awards.flex25 {
        flex: 0 0 100%;
    }
    .skillEduInner {
        text-align: center;
    }
    .skillEduInner strong {
        display: block;
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }
    .skillEduInner h3 {
        font-size: 1.2rem;
        font-weight: 400;
    }
    .footer-inner h2 {
        flex: 0 0 100%;
        /* background-color: #000; */
        text-align: center;
    }
    .footer-inner h2:not(:last-child) {
        margin-bottom: 1rem;
    }
    .footer-inner .socialLinks {
        flex: 0 0 100%;
        text-align: center;
        margin-bottom: 1.2rem;
    }
    .home-image {
        top: 15%;
        left: 50%;
        width: 300px;
        height: 300px;
        transform: translateX(-50%);
    }
    .blog-date h4,
    .blog-date a {
        width: 50%;
        flex: 0 0 50%;
    }
    .new .row {
        padding: 1rem 2rem;
    }
    .new .new-text h3 {
        font-size: .9em;
        margin-bottom: .5rem;
    }
    .new .new-text h2 {
        font-size: 1.5rem;
    }
    .new .new-text h1 {
        font-size: 1.6rem;
    }
    .btnNew {
        justify-content: flex-start;
    }
    .new .btnNew .btn {
        font-size: 14px;
    }
}

@media (max-width:480px) {
    .home-image {
        width: 250px;
        height: 250px;
        left: 60%;
    }
    .testi-image .img-bx,
    .testi-image .image-details {
        text-align: center;
        flex: 0 0 100%;
    }
    .owl-carousel .owl-item img {
        margin: 0 auto;
        margin-bottom: 1rem;
    }
    .testi-image .image-details {
        margin: 0 0 -.5rem;
    }
    .container {
        width: 95%;
        max-width: 95%;
        margin: 0 auto;
    }
}

@media (max-width:300px) {
    .home-image {
        width: 200px;
        height: 200px;
        left: 60%;
        top: 18%;
    }
    .home-text h2 {
        font-size: 2rem;
    }
    .home-text h2::first-letter {
        font-size: 2rem;
    }
    .home-text .btn {
        margin-bottom: 1rem;
    }
    .home-text p {
        margin-top: .7rem;
        text-align: left;
        font-size: 15px;
    }
    .service-inner .serviceText p {
        font-size: 13px;
    }
    .service-inner .serviceText li {
        font-size: 10px;
    }
    .about-image {
        height: 100%;
    }
    .about-image img {
        height: 100%;
        object-fit: 0 0;
    }
    html {
        font-size: 89% !important;
    }
    .testi-image .img-bx,
    .testi-image .image-details {
        text-align: center;
        flex: 0 0 100%;
    }
    .testi-image .image-details {
        margin: 0;
    }
    .owl-carousel .owl-item img {
        margin: 0 auto 1rem !important;
    }
}